body{
    background: #153448;
    font-family: 'Roboto', sans-serif;
    margin: 120px;
    padding: 0;
}
.container {
    max-width: 700px;
    margin: 120px auto 50px; /* Adjust margin for centering vertically */
    padding: 20px;
    background-color: #DFD0B8; /* Change background color */
    color: white; /* Change text color */
    border-radius: 10px; /* Add border-radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow for depth */
}

header {
text-align: center;
margin-bottom: 20px;
}
h1{
    color: black;
    font-size: 2em;
}
section {
    margin-bottom: 40px;
}

.caption {
    margin-bottom: 20px;
    text-align: justify;
    color: black;
}

.dashed-container {
    border: 2px dashed black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.image-container {
    text-align: center;
    border-radius: 10px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%; 
    height: auto; 
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    background-color: #DFD0B8;
    color: rgb(0, 0, 0);
    border-radius: 5px; 
    text-decoration: none;
    font-weight: bold;
}

.back-button:hover {
    text-decoration: underline;
}