style{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body{
    background: #3C5B6F;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.box{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.1);
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}
.form-box form .input input{
    height: 40px;
    width: 95%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
}
.btn{
    height: 35px;
    background: #948979; /* New background color */
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px
}